body{
    background-color: black;
}

.header-ul{
    padding: 30px 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
   

}

.header-ul a{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 1px;
    background-color:grey;
}
.galeria{
    width: 100%;
    
}
.imagen{
    width: 530px;
    height: 345px;
    vertical-align: top;
    margin: 20px;
    padding: 5px;
    border: 1px solid #484848;
    opacity: 0.5;
}

.imagen:hover{
    opacity: 1;
    border: 1px solid #fff;
    
}

.header-ul a:hover{
    list-style: none;
    text-decoration: none;
    color:gray;
    background-color: white;
}